.tiles {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 0px;
    gap: 30px; /* Space between tiles */
}

.tile {
    flex: 1 1 calc(33.33% - 30px); /* 3 tiles per row */
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    height: 250px; /* Increase height */
}

.tile:hover {
    box-shadow: none;
}

.tile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.tile-text {
    text-align: center;
    flex: 1;
}

.tile-text h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.tile-text h1 {
    font-size: 36px;
    color: #555;
    margin: 0;
}

.tile-image {
    flex-shrink: 0;
}

.tile-image img {
    width: 120px;
    height: 120px;
}

h1 {
    font-family: Arial, sans-serif;
    padding: 10px;
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
}