.verify-container {
    padding-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d9d9d9;
}

th {
    background-color: #f9f9f9;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.action-buttons button {
    width: 100px;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.verify-btn {
    background-color: #6fa857;
    color: white;
}

.verify-btn:hover {
    background-color: #225522;
}

.reject-btn {
    background-color: #d9534f; /* A pleasant medium red */
    color: white;
}

.reject-btn:hover {
    background-color: #c9302c; /* A slightly darker red for the hover effect */
}